.OpponentGrid {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border-left: 3px solid #ffff00;
  border-top: 3px solid #ffff00;
  cursor: pointer;
}

.OpponentGrid .row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
}

.OpponentGrid .column {
  flex-grow: 1;
  border-right: 3px solid #ffff00;
  border-bottom: 3px solid #ffff00;
}

.OpponentGrid .untouched-empty,
.OpponentGrid .untouched-occupied {
  background: #000000;
}

.OpponentGrid .miss {
  background: #555500;
}

.OpponentGrid .hit {
  background: #550000;
}
